h1 {
  color: darkblue;
}
h3 {
  color: red;
}

body {
  background-color: lightyellow;
}

table,
th,
td {
  border: 2px solid gray;
  border-collapse: collapse;
  padding: 10px;
  background-color: lightgreen;
}
